 /* fonts-sizes */
 :root {

     --fs-900: 3.2rem;
     --fs-800: 2.8rem;
     --fs-700: 2.4rem;
     --fs-600: 2rem;
     --fs-500: 1.6rem;
     --fs-400: 1.2rem;
     --fs-300: 1rem;

     /* font-families */
     --ff-inter: "Inter", sans-serif;

     /* colors */
     --primary-color-20: hsla(0, 0%, 100%, 1);
     --primary-color-40: hsla(33, 100%, 96%, 1);

     --neutral-color-gray1: hsla(0, 0%, 15%, 1);
     --neutral-color-black: hsla(0, 0%, 9%, 1);

     --secondary-color-100: hsla(14, 70%, 61%, 1);
     --secondary-color-80: hsla(25, 100%, 61%, 1);
     --secondary-color-60: hsla(33, 100%, 78%, 1);
     --secondary-color-40: hsla(35, 100%, 78%, 1);

     --green-color-80: hsla(176, 69%, 22%, 1);

 }

 @media (min-width: 35rem) {
     :root {
         --fs-800: 3.2rem;
         --fs-700: 2.8rem;
         --fs-600: 2.4rem;
         --fs-500: 2rem;
         --fs-400: 1.6rem;
         --fs-300: 1.3rem
     }

 }

 @media (min-width: 45rem) {
     :root {
         --fs-800: 3.6rem;
         --fs-700: 3.2rem;
         --fs-600: 2.8rem;
         --fs-500: 2.4rem;
         --fs-400: 2rem;
         --fs-300: 1.5rem
     }
 }

 */
 /* Boz sizing */

 *,
 *::before,
 *::after {
     box-sizing: border-box;
 }

 body,
 h1,
 h2,
 h3,
 h4,
 h5,
 p,
 figure,
 picture {
     margin: 0;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p {
     font-weight: 400;
 }

 body {
     font-family: var(--ff-inter);
     font-size: var(--fs-400);
     color: hsl(var(--clr-white));
     background-color: var(--primary-color-40);
     line-height: 1.5;
     min-height: 100vh;
     display: grid;
     grid-template-rows: min-content 1fr;
     overflow-x: hidden;
     -webkit-user-select: none;
     -ms-user-select: none;
     user-select: none;
 }

 img {
     max-width: 100%;
     display: block;
 }

 a,
 ul,
 li {
     text-decoration: none;
     list-style: none;
     font: inherit;
 }

 input,
 button,
 textarea,
 select {
     font: inherit;
     -webkit-tap-highlight-color: transparent;
 }

 @media (prefers-reduced-motion: reduce) {
     html:focus-within {
         scroll-behavior: auto;
     }

     *,
     *::before,
     *::after {
         animation-duration: 0.01ms !important;
         animation-iteration-count: 1 !important;
         transition-duration: 0.01ms !important;
         scroll-behavior: auto !important;
     }
 }

 .content--wrapper {
     min-height: 100vh;
     display: flex;
     flex-direction: column;
     margin-bottom: 3rem;
     overflow-y: hidden;
 }

 /* Navbar */

 .link--selected {
     font-weight: bold;
     text-decoration: underline;
     color: var(--neutral-color-black);
 }

 .navbar--header {
     display: flex;
     align-items: center;
     height: 7rem;
     background-color: var(--primary-color-40);
     padding-block: 0.6rem;
 }

 .site--logo {
     text-transform: uppercase;
     font-weight: 800;
     font-size: var(--fs-500);
     margin-right: auto;
 }



 nav a {
     font-weight: 600;
     font-size: var(--fs-300);
     color: var(--neutral-color-gray1);
     padding: .20rem .50rem;
 }

 nav a:hover {
     color: var(--neutral-color-gray1);
     text-decoration: underline;
 }

 .login--link {
     display: inline-flex;
 }

 .login--icon {
     height: 1.2rem;
     width: 1.2rem;
 }

 /*Home */

 .home--banner {
     background: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("./assets/images/home.png") no-repeat center;
     background-size: cover;
     height: 100vh;
 }

 .home--container {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     gap: 1rem;
     text-align: left;
     color: var(--primary-color-20);
     margin-inline: 1.4rem;
     height: 100%;
 }

 .home--title {
     font-size: var(--fs-600);
     font-weight: bold;
     line-height: 3rem;
 }

 .home--text {
     padding-top: 3rem;
     font-size: var(--fs-400);
     font-weight: 500;
     line-height: 2rem;

 }

 .findVan--btn {
     position: center;
     margin-top: 5rem;
     background-color: var(--secondary-color-80);
     text-align: center;
     color: var(--primary-color-20);
     border-radius: 8px;
     padding: 1rem 1.8rem;
     transition: transform .5s ease-in-out;
 }

 .findVan--btn:hover {
     transform: scale(1.05);

 }

 footer {
     position: fixed;
     display: flex;
     justify-content: center;
     align-items: center;
     bottom: 0;
     height: 3rem;
     width: 100%;
     background-color: var(--neutral-color-black);
     font-size: var(--fs-300);
     color: var(--primary-color-20);
 }


 /*About*/

 .about--container {
     display: flex;
     flex-direction: column;
 }

 .about-img-container {
     display: flex;
     justify-content: center;
 }

 .about--img {
     max-width: 100%;
 }

 .about--info {
     margin-top: 3rem;
     padding-inline: 1.3rem;
     text-align: left;
 }

 .about--title {
     font-weight: 700;
     font-size: var(--fs-600);
     Line-height: 38px;
 }

 .about--text {
     margin-top: 2rem;
     font-weight: 500;
     font-size: var(--fs-300);
     color: var(--neutral-color-black);
 }

 .about--explore {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     background-color: var(--secondary-color-60);
     margin: 2rem 1.3rem;
     padding: 1.8rem 1.5rem 2rem 1rem;
     border-radius: .3rem;
 }

 .about-explore-text {
     font-weight: 700;
     font-size: var(--fs-500);

 }

 .explore--btn {
     width: fit-content;
     margin-top: 1.25rem;
     background-color: var(--neutral-color-black);
     color: var(--primary-color-20);
     font-weight: 700;
     font-size: var(--fs-300);
     padding: 0.6rem 1.2rem;
     border-radius: 10px;
     transition: transform .5s ease-in-out;
 }

 .explore--btn:hover {
     transform: scale(1.05);
 }

 /* Vans */

 .vans--container {
     display: flex;
     flex-direction: column;
     background-color: var(--primary-color-40);
     align-items: center;
     margin-bottom: 2rem;
 }

 .vans--title {
     margin-top: 1rem;
     font-weight: bold;
     font-size: var(--fs-600);
 }

 .vans--filter {
     display: flex;
     gap: 1rem;
     margin-top: 1.2rem;
     font-size: var(--fs-300);
 }

 .vans--filter>button {
     background-color: var(--secondary-color-60);
     border: none;
     border-radius: 5px;
     padding: .5rem 1rem;
     color: var(--neutral-color-gray1);
     text-transform: capitalize;

 }

 .simple--btn,
 .luxury--btn,
 .rugged--btn,
 .clear--btn {
     border: none;
     border-radius: 5px;
     padding: .3rem .8rem;
     text-transform: capitalize;
     color: var(--primary-color-20);
 }

 .vans--filter>.clear--btn {
     padding-left: 0.8rem;
     border: none;
     background: transparent;
 }

 .simple--btn:hover,
 .simple--btn.selected {
     background-color: var(--secondary-color-100);
     color: var(--primary-color-20);
 }

 .luxury--btn:hover,
 .luxury--btn.selected {
     background-color: var(--neutral-color-black);
     color: var(--primary-color-20);
 }

 .rugged--btn:hover,
 .rugged--btn.selected {
     background-color: var(--green-color-80);
     color: var(--primary-color-20);
 }

 .clear--btn:hover {
     text-decoration: underline;
 }

 .van--btn {
     padding: 0.3rem 0.8rem;
 }

 .simple--btn {
     background-color: var(--secondary-color-100);
 }

 .rugged--btn {
     background-color: var(--green-color-80);
 }

 .luxury--btn {
     background-color: var(--neutral-color-black);
 }

 .clear--btn {
     color: var(--neutral-color-black);
 }

 .vans--list {
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 1.5rem;
     padding: 3rem 1.7rem 2rem 1.7rem;
     font-size: var(--fs-300);
     text-decoration: none;
 }

 .van--img {
     height: 40vw;
     border-radius: .5rem;
 }

 .van--name {
     font-size: var(--fs-400);
     font-weight: 600;
     text-decoration: none;
     color: var(--neutral-color-black);
 }

 .van--price>span {
     font-size: var(--fs-300);
 }

 /*Van Details*/

 .van-details-container {
     display: flex;
     flex-direction: column;
     justify-content: center;
     margin-inline: 1.4rem;
     margin-bottom: 1rem;
     background: var(--primary-color-40);
 }

 .van--details {
     display: flex;
     flex-direction: column;
 }

 .van-details-info {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
 }

 .return-details-btn {
     margin-top: 1rem;
     border: none;
     background: transparent;
     text-align: left;
     font-size: var(--fs-300);
     color: var(--neutral-color-gray1);
 }

 .return-details-btn>span {
     margin-right: .2rem;
 }

 .return-details-btn:hover {
     text-decoration: underline;
 }

 .van--details .van--image {
     border-radius: 0.6rem;
     margin-block: 2rem;
 }

 .van--btn {
     align-self: flex-start;
 }

 .van--name {
     padding-top: 1rem;
     font-weight: 700;
     font-size: var(--fs500);
 }

 .van--price {
     display: flex;
     flex-direction: row;
     align-items: center;
     margin-bottom: 0.5rem;
     font-weight: 700;
     font-size: var(--fs-400);
     color: var(--neutral-color-gray1);
 }

 .van--description {
     font-size: var(--fs-300);
     text-align: left;
 }

 .book--btn {
     display: block;
     font-weight: 700;
     margin-top: 2rem;
     background: var(--secondary-color-100);
     border: none;
     border-radius: 5px;
     padding: .3rem .8rem;
     text-transform: capitalize;
     color: var(--primary-color-20);
 }

 .book--btn:hover {
     background: var(--secondary-color-80);

 }

 /*HostLayout*/

 .host-van-navbar {
     display: flex;
     justify-content: star;
     margin-top: 1rem;
 }

 .host-van-navbar>a {
     font-size: var(--fs-300);
 }

 .host-van-single {
     display: flex;
     align-items: center;
     background-color: white;
     margin-bottom: 15px;
     padding-block: 18px;
     padding-left: 24px;
     font-size: var(--fs-300);
 }

 .host-van-single>img {
     height: 70px;
     border-radius: 5px;
     margin-right: 17px;
 }

 .host-vans-title {
     margin: 2rem 0 .5rem 2rem;
     font-size: var(--fs-500);
     font-weight: 500;
 }

 .host-vans-list {
     padding-inline: 26px;
 }

 .host-van-info h3 {
     font-size: var(--fs-400);
     font-weight: 600;
     margin-block: 10px;
 }

 .host-van-info p {
     margin-block: 10px;
 }

 /*Host Vans Details */

 .host-van-details--info {
     background-color: var(--primary-color-20);
     padding: 1.5rem;
     margin: 2rem 1.5rem;
 }

 .host-van-details {
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .host-van-details-img {
     align-self: flex-start;
     height: 40vw;
     border-radius: 5px;
     margin-right: 1.5rem;
     margin-bottom: 1rem;
 }

 .host-van-details--info {
     align-self: auto;
 }

 .host-van-details-info-text>h3 {
     margin-bottom: 0.3rem;
     margin-top: 1.2rem;
     font-weight: 700;
     font-size: var(--fs-400);
 }

 .host-van-details-info-text>h4 {
     font-size: var(--fs-300);
 }

 /* HostVanInfo */

 .host-van-description-info {
     display: flex;
     flex-direction: column;
     font-size: var(--fs-300);
 }

 .host-van-description-info>h4 {
     margin-top: 1rem;
     font-weight: 700;
 }

 .host-van-description-info>h4>span {
     margin-left: .2rem;
     font-weight: 400;
 }

 .host-van-price {
     display: flex;

 }

 .host-van-price>h1 {
     font-size: var(--fs-400);
     margin-top: 1rem;
 }

 .host-van-photo {
     max-width: 30vw;
     border-radius: .2rem;
     margin-top: 2rem;
 }

 /* Host Dashboard */

 .host-dashboard-earnings {
     margin-top: 1rem;
     padding: 1.5rem 1rem;
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: var(--secondary-color-40);
 }

 .host-dashboard-earnings>.info>h1 {
     font-size: var(--fs-500);
     color: var(--neutral-color-black);
     margin: 0;
 }

 .host-dashboard-earnings>.info>p {
     color: var(--neutral-color-gray1);
 }

 .host-dashboard-earnings>.info>p>span {
     text-decoration: underline;
     font-weight: bold;
 }

 .host-dashboard-earnings>.info>h2 {
     margin: 0;
     font-size: var(--fs-600);
     font-weight: 600;
 }

 .host-dashboard-reviews {
     background-color: #ffddb2;
     padding: 1rem 1rem;
     display: flex;
     align-items: center;
 }

 .host-dashboard-reviews>h2 {
     margin: 0;
 }

 .host-dashboard-reviews .star {
     color: var(--secondary-color-80);
     margin-left: 1rem;
     font-size: var(--fs-400);
 }

 .host-dashboard-reviews p {
     margin-left: 0.8rem;
     font-size: var(--fs-400);
     color: var(--neutral-color-gray1);
     margin-right: auto;
 }

 .host-dashboard-reviews p>span {
     font-weight: bold;
     color: var(--neutral-color-black);
 }

 .host-dashboard-vans {
     padding: 3rem .7rem;
 }

 .host-dashboard-vans>.top {
     margin-bottom: 1rem;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .view-dashboard-btn {
     margin-left: auto;

 }

 .host-dashboard-vans .host-vans-list {
     padding-inline: 0;
 }

 /* Host Income */

 .host--income {
     padding: 1rem 0 2rem 0;
     padding-inline: 1.4rem;
     color: var(--neutral-color-black);
 }

 .host--income>h1 {
     font-weight: bold;
     font-size: var(--fs-500);
 }

 .host--income>p {
     color: var(--neutral-color-gray1);
     font-size: var(--fs-300);
 }

 .host--income>p span {
     text-decoration: underline;
     font-weight: bold;
 }

 .host--income>h2 {
     margin-top: .5rem;
     font-size: var(--fs-500);
     color: var(--neutral-color-black);
     font-weight: bold;
 }

 .img--graph {
     margin-top: 1rem;
     max-width: 70vw;
 }

 .host--income .info-header>h3 {
     font-weight: bold;
     font-size: var(--fs-500);
     margin-top: 2rem;
 }

 .host--income .info-header>p {
     color: var(--neutral-color-gray1);
     font-size: var(--fs-300);
 }

 .host--income .info-header>p span {
     text-decoration: underline;
     font-weight: bold;
 }

 .host--income .transaction {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-top: 2rem;
     background-color: white;
     margin-bottom: 31px;
     padding: 2rem 2rem;
     border-radius: .5rem;
 }

 .host--income .transaction>h3 {
     font-size: var(--fs-400);
     font-weight: bold;
     margin: 0;
 }

 .host--income .transaction>p {
     font-size: var(--fs-300);
     color: var(--neutral-color-gray1);
 }

 /* Host Reviews */

 .host--reviews {
     display: flex;
     flex-direction: column;
     margin: 1rem 0 2rem 0;
     gap: 1rem;
     padding-inline: 2rem;
     color: var(--neutral-color-black);
     font-size: var(--fs-300);
 }

 .host--reviews .top--text {
     display: flex;
     align-items: center;
 }

 .host--reviews .top--text>h2 {
     font-weight: bold;
     font-size: var(--fs-500);
     margin-right: 20px;
 }

 .host--reviews .top--text>p {
     color: var(--neutral-color-gray1);
 }

 .host--reviews .top--text>p span {
     text-decoration: underline;
     font-weight: bold;
 }

 .host--reviews .review .info {
     display: flex;
     flex-direction: column;
     margin-bottom: 2rem;
 }

 .host--reviews .review .name {
     margin-right: 0.8rem;
     color: var(--neutral-color-black);
     font-size: var(--fs-400);
     font-weight: bold;
 }

 .host--reviews .review .date {
     color: #8c8c8c;
 }

 .host--reviews hr {
     background-color: var(--neutral-color-gray1);
     height: 1px;
     border: 0;
 }

 .host--reviews .review--star {
     color: var(--secondary-color-80);
     margin-right: 5px;
 }

 /*NotFound */

 .notfound--container {
     margin-top: 8rem;
     padding-inline: 2rem;
     text-align: center;
     font-size: var(--fs-400);
 }

 .notfound--container h1 {
     margin-bottom: 4rem;
 }

 .notfound--btn {
     margin-top: 11rem;
     padding: 2rem;
     background: var(--neutral-color-black);
     border-radius: 8px;
     color: var(--primary-color-20);
 }

 /*Login */

 .login--container {
     display: flex;
     flex-direction: column;
     align-items: center;
     padding-inline: 2rem;
     margin-top: 3rem;
     text-align: center;
 }

 .login--form {
     display: flex;
     flex-direction: column;
     margin-top: 2rem;
     width: 100%;
     max-width: 40rem;
 }

 .login--form>input {
     border: 1px solid rgba(209, 213, 219);
     height: 3rem;
     text-indent: 1rem;
     box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
     font-weight: 400;

 }

 .login--error {
     color: red;
     font-weight: bold;
     font-family: var(--fs-300);
 }

 .login--form>input:focus {
     outline: none;
 }

 .login--form>input:first-of-type {
     border-radius: 6px 6px 0px 0px;
 }

 .login--form>input:last-of-type {
     border-radius: 0px 0px 6px 6px;
     border-top: none;
 }

 .login--form>button {
     background-color: var(--secondary-color-80);
     border: none;
     border-radius: .5rem;
     height: 4rem;
     margin-top: 1.8rem;
     color: var(--primary-color-20);
 }

 .user--data {
     margin-top: 2rem;
     text-align: center;
     font-size: var(--fs-300);
 }

 .user--data>h4 {
     font-weight: bold;
 }

 .login--form>button:disabled {
     background-color: var(--secondary-color-60);
     cursor: not-allowed;
 }


 @media (min-width: 35rem) {
     .home--container {
         text-align: center;
         margin-inline: 3rem;
         gap: 2rem;
     }

    
 }

 @media (min-width:45rem) {

     /*Home*/
     .home--container {
         text-align: center;
         margin-inline: 8rem;
         gap: 3rem;
     }

     /*About*/
     .about--container {
         margin-top: 5rem;
     }

     .about--container {
         flex-direction: row;
     }

     .about--img {
         max-width: 50vw;
         max-height: 60vh;
     }

     .about--info {
         margin: 0;

     }

     /*Van-details*/
     .van--details {
         flex-direction: row;
         margin-right: 1rem;
         gap: 1rem;
     }

     .van-details-info {
         justify-content: center;
         gap: 1.5rem;
     }

     .van--details .van--image {
         max-width: 60vw;
     }

     .van--img {
         height: 35vw;
     }

     /*Host*/

     .img--graph {
         margin-top: 1rem;
         max-width: 40vw;
     }

     .host-van-details {
         flex-direction: row;
     }

 }